* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #1f2933;
}

canvas {
    width: min(100vw);
    border: 2px solid white;
    height: auto;
    display: block;
    background-color: #77b86c;
    image-rendering: pixelated;
}
